body h1{
    font-family: 'Major Mono Display', monospace;
    color: rgb(172, 75, 41);
    text-shadow: 4px 6px 5px #c5c5c5;

}

body h3{
    font-family: 'Catamaran', sans-serif;
}

.brand-area{
    /* background-color: paleturquoise; */
    /* opacity: 0.5; */
    grid-column: 1/5;
    margin-left: 1rem;
}

#close-content{
    color: red;
    cursor: pointer;
}

.content-section {
    border: 2px solid orangered;
    display: none;
    margin-left: 0.2rem;
    margin-top: 20px;
}

.content-section-display {
    display: block;
    /* cursor: pointer; */
}

.form-group {
    margin-bottom: 1rem;
    width: 50%;
}

/* h1{
    font-family: 'Major Mono Display', monospace;
} */
.header-area{
    /* background-color: orange; */
    display: grid;
    grid-template-columns: repeat(autofill, minmax(40px, 1fr));
    grid-template-rows: 40px;
    /* grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3, 40px); */
}

img:hover{
    margin-left: 0 40px;
    transform: scale(1.1);
    cursor: pointer;
}
/* 
don't plan on using this for styling purpose. input-value is useful for app.js
#input-value {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: rgb(102, 97, 97);
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: .25rem;
} */

.search-area{
    /* display: flex;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: pink; */
    grid-column: 5/12;
    grid-row: 2/2
    
}

.search-bar{
    width: 80%;
    height: 30px;
}

#search-btn  {
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    /* color: #fff;
    background-color: #007bff;
    line-height: 1.5;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem; */
    
}

.searched-movie-posters {
    display: flex; 
    background-color: rgba(107, 22, 22, 0.938);
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
    
}

.searched-movie-posters img{
    width: 400px;
    height: 400px;
    margin: 1rem;
}

.test-popular-movie{
    display: flex;
    width: 100%;
    overflow-x: auto;
}
.popular-movies{
    width: 100%;
    overflow-x: auto;
}

.thumbs{
    font-size: 2rem; 
    color: Tomato;
    cursor: pointer;
}

