/* logo red: #ac4b29 */
/* greenish blue: #2989ac */
/* bluer blue: #4c29ac */
/* greenish: #89ac29 */
/* shadow color: #c5c5c5 */
body{
    background-color: rgba(107, 22, 22, 0.938) ;
    /* margin-left: 6rem;
    margin-right: 6rem; */
    color: white;
}

body h1{
    font-family: 'Major Mono Display', monospace;
    color: white;
    /* color: rgb(172, 75, 41); */
    text-shadow: 4px 6px 5px #c5c5c5;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;

}

body h3, p{
    font-family: 'Catamaran', sans-serif;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.brand-area{
    /* background-color: paleturquoise; */
    /* opacity: 0.5; */
    grid-column: 0/2;
    grid-row: auto;
    /* margin-left: 1rem; */
}


#close-content{
    color: red;
    cursor: pointer;
}

.content-section {
    background-color: rgba(107, 22, 22, 0.938) ;
    border-radius: 5px;
    display: none;
    margin-left: 0.2rem;
    margin-top: 20px;
}

.content-section-display {
    display: block;
    border-radius: 5px;
    background-color: rgba(107, 22, 22, 0.938) ;
    border-radius: 5px;
    margin-left: 0.2rem;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 10px 20px 10px 20px;
    box-shadow: 10px 10px 5px rgb(92, 29, 18);

    /* cursor: pointer; */
}

.form-group {
    margin-bottom: 1rem;
    width: 50%;
}

/* h1{
    font-family: 'Major Mono Display', monospace;
} */
.header-area{
    display: grid;
    grid-template-columns: repeat(autofill, minmax(40px, 1fr));
    grid-template-rows: 40px;
    background-color: black;
    padding-bottom: 2.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 2rem;
    
}

img:hover{
    margin-left: 0 40px;
    transform: scale(1.1);
    cursor: pointer;
}

.movie{
    margin-left: 30px;
    margin-right: 30px;
}
/* 
don't plan on using this for styling purpose. input-value is useful for app.js
#input-value {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: rgb(102, 97, 97);
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: .25rem;
} */

.search-area{
    /* display: flex;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    background-color: pink; */
    grid-column: 2/12;
    grid-row: 2/2
    
}

.search-bar{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    
}

#search-btn  {
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    /* color: #fff;
    background-color: #007bff;
    line-height: 1.5;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem; */
    
}

.searched-movie-posters {
    display: flex; 
    background-color: rgba(107, 22, 22, 0.938);
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
   
    
}

.searched-movie-posters img{
    width: 400px;
    height: 400px;
    margin: 1rem;
}

#searched-movies{
    margin-left: 30px;
    margin-right: 30px;
}

.popular-movie{
    display: flex; 
    background-color: rgba(107, 22, 22, 0.938);
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
   
}

.popular-movie img{
    width: 400px;
    height: 400px;
    margin: 1rem;
}
#popular-movies{
    
    margin-left: 30px;
    margin-right: 30px;
}
.popular-movies{
    width: 100%;
    overflow-x: auto;
   
}
#thumbsUp{
    font-size: 2rem; 
    color: tomato;
    margin: 10px;
    cursor: pointer;
}

#thumbsDown{
    font-size: 2rem; 
    color: tomato;
    margin-left: 10px;
    cursor: pointer;
}
/* .thumbs{
    font-size: 2rem; 
    color: Tomato;
    cursor: pointer;
    margin-right: 3px;
} */

